[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Kit
Comment=Starts the Virtual machine Kit
Type=Application
Exec=/home/john/.local/bin/startvm kit
Icon=audio-input-microphone
