#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=
Exec=xvkbd
GenericName=Virtual Keyboard
Name=xvkbd
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=/home/john/Computer/System/atom/scripts/config/icons/keyboard.svg
