[Desktop Entry]
Comment[en_US]=Starts the Virtual machine win
Comment=Starts the Virtual machine win
Encoding=UTF-8
Exec=/home/john/.local/bin/startvm win
GenericName[en_US]=
GenericName=
Icon=audio-input-microphone
MimeType=
Name[en_US]=win
Name=win
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
